@tailwind base;
@tailwind components;

.transition-in {
  opacity: 1;
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: inherit;
  transition-property: opacity, left, top;
  transition-delay: 150ms, 150ms, 150ms;
  transition-duration: 300ms, 150ms, 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-out {
  opacity: 0;
  left: -9999px;
  top: -9999px;
  right: auto;
  bottom: auto;
  transition-property: opacity, left, top;
  transition-delay: 150ms, 300ms, 300ms;
  transition-duration: 300ms, 150ms, 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@tailwind utilities;
