@tailwind base;
@tailwind components;

.transition-in {
  opacity: 1;
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: inherit;
  transition-property: opacity, left, top;
  transition-delay: 0ms, 0ms, 0ms;
  transition-duration: 150ms, 0ms, 0ms;
}

.transition-out {
  opacity: 0;
  left: -9999px;
  top: -9999px;
  right: auto;
  bottom: auto;
  transition-property: opacity, left, top;
  transition-delay: 0ms, 150ms, 150ms;
  transition-duration: 150ms, 0ms, 0ms;
}

@tailwind utilities;
